@import url(http://fonts.googleapis.com/css?family=Inconsolata:700);

body {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Inconsolata', sans-serif;
  width: 6em;
  margin: 1em auto 0;
}
table#suma {
  text-align: center;
  width: 3em;
  border-collapse:collapse;
}
table#suma tr {
  height: 1em;
}
.ones, .tens, .hundreds {
  width: 1em;
}
table#suma tr#carrying {
  height: 0.5em;
}
#carrying td {
  font-size: 0.4em;
}
#total {
  border-top: 2px solid black;
}
#carrying, #total {
  color: blue;
}
.keypad {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.keypad table {
  position: fixed;
  text-align: center;
  width: 2.4em;
  border-collapse:collapse;
  font-size: 0.6em;
  background: rgb(208, 224, 91);
  color: blue;
}
.keypad tr {
  height: 0.6em;
}
.keypad td {
  width: 0.6em;
}
#result {
  width: 256px;
  height: 256px;
  display: table-cell;
  float: right;
}
#result.right {
  background-image: url(../images/right.png);
}
#result.wrong {
  background-image: url(../images/wrong.png);
}
.answer {
  cursor: pointer;
  background-color: #ffe;
}
audio {
  display: none;
}
